tls,dns.google,Google DNS over TLS
https,https://dns.google/dns-query,Google DNS over HTTPS
tls,1dot1dot1dot1.cloudflare-dns.com,Cloudflare DNS over TLS
https,https://cloudflare-dns.com/dns-query,Cloudflare DNS over HTTPS
tls,dns.quad9.net,Quad9 DNS over TLS
https,https://dns.quad9.net/dns-query,Quad9 DNS over HTTPS
tls,dns.adguard.com,AdGuard DNS over TLS
https,https://dns.adguard.com/dns-query,AdGuard DNS over HTTPS
tls,security-filter-dns.cleanbrowsing.org,CleanBrowsing DoT Security Filter
https,https://doh.cleanbrowsing.org/doh/security-filter/,CleanBrowsing DoH Security Filter
https,https://doh.opendns.com/dns-query,OpenDNS DNS over HTTPS
https,https://dns.twnic.tw/dns-query,Quad101 DNS over HTTPS
